{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} {% endblock %} | Braulio</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="{% url 'index'%}">Inicio</a>
          </li>
          <li>
            <a href="{% url 'list_articles' %}">Artículos</a>
            <ul>
              {% for category in categories %}
              <li>
                <a href="{% url 'category' category.0 %}">{{category.1}}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% for page in pages %}
          <li>
            <a href="{% url 'page' page.2 %}">{{page.1}}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <div id="content">
      <div class="box">
        {% block content %}
        <strong>contenido original</strong>
        {% endblock %}
      </div>
    </div>

    <footer>Proyecto Web &copy; Braulio Estrada - {% now "d/m/Y" %}</footer>
  </body>
</html>
